@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #27272a ;
    color: beige;
    place-content: center;
}

.effect {
background: #27272a;
box-shadow:  7px 7px 24px #19191b,
             -7px -7px 24px #353539;
}

.input-effect {
    background: #27272a;
    box-shadow: inset 9px 9px 12px #1b1b1d,
                inset -9px -9px 12px #333337;
}

.input-span {
background: linear-gradient(145deg, #2a2a2d, #232326);
box-shadow:  10px 10px 22px #212123,
             -10px -10px 22px #1d1d20;
}

.button-effect {
background: linear-gradient(145deg, #853efe, #7034d5);
box-shadow:  14px 14px 28px #7336dc,
             -14px -14px 28px #853efe;
}

.courses-button{
    background: #27272a;
    box-shadow:  24px 24px 47px #212123,
                 -24px -24px 47px #2d2d31;
}

g path {
    stroke-width: 0 !important;
}


  